<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am currently a third-year PhD student in Statistics at Rice University. 
I am fortunate to be jointly advised by Prof. Marek Kimmel from Rice and Dr. Wenyi Wang from MD Anderson Cancer Center. 
Before coming to Rice, I spent a few years in the UK, working towards a BSc in Mathematics at Imperial College London and an MPhil in Finance at University of Cambridge.
	    </p>
            <p class="paragraph-text justify-text">
I often describe myself as "50% statistician, 30% mathematician and 20% computer scientist". 
Part of my research focuses on the use of statistical/mathematical models (e.g. branching process) to model population dynamics in biology. 
One example is the progression of cancer cells in malignant tumors. 
I am also interested in the combination of modern statistical and computational tools to tackle "big data" problems in biomedical science. 
I am developing a Bayesian semi-parametric joint model, capable of modeling multiple primary cancers as well as competing risks from multiple cancer types, for accurate personalized cancer risk prediction. 
            </p>
            <p class="paragraph-text justify-text">
                My contacts and resume can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
