<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am currently a Ph.D. candidate in Mathematics at The University of Alabama, Tuscaloosa. 
I am fortunate to be advised by Prof. <a href="https://math.ua.edu/people/klee/">Kyungyong Lee</a>.
Before coming to Alabama, I earned a Master's degree in Optimization and Statistics at Wayne State University, Detroit, Michigan.
	    </p>
            <p class="paragraph-text justify-text">
My research focuses on combinatorial problems related to Lie Theory and Representation Theory.
	I also love Invariant Theory, Geodesic Optimization and Polynomial-time Algorithms which are very closed to solving Matrix Scaling, Tensor problems, and Maximum Likelihood Estimation in Tensor Normal Model in pure Computer Science (See <a href="https://www.youtube.com/watch?v=oOnyful_oPY&ab_channel=InternationalMathematicalUnion">Avi Wigderson ICM talk</a>). 

            </p>
            <p class="paragraph-text justify-text">
                My contacts and resume can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
