<div class="section-wrapper">
    <section class="section about" id="awards">
        <div id="awards-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                 <strong>ASA Best Student Paper Award</strong>: One of the five winners in the Section of Statistics in Genomics and Genetics (SSGG). The Best Student Paper Award by the American Statistical Association (ASA) is the most prestigious award for PhD students in the field of Statistics.
            </p>
        </div>
    </section>
</div>
