<div class="section-wrapper">
    <section class="section awards" id="awards">
        <div id="awards-text">
            <div class="section-heading">Awards</div>
		<ul class="paragraph-text justify-text">
                 	<li><strong>Ainsworth Fellowship (2019-2023) </strong> - Department of Mathematics at the University of Alabama.</li>
			<li><strong>VEF 2.0 Highly Recommended Candidate (2019)</strong> - Vietnam Education Foundation.</li>
			<li><strong>Paul Weiss Award in Recognition of Outstanding Achievement in the Master’s Program (2018)</strong> - Wayne State University.</li>
			<li><strong>Second-class Prize in Linear Algebra (2010)</strong>- 18th-National Student Mathematics Olympics Competition, Vietnam.</li>
			<li><strong>First-class Prize in Linear Algebra (2010)</strong> - Mathematics Olympics Competition of Hanoi Pedagogical University 2.</li>
			<li><strong>Second-class Prize in Elementary Mathematics (2010)</strong> - Mathematics Olympics Competition of Hanoi Pedagogical University 2.</li>

		</ul>
        </div>
    </section>
</div>
