<div class="section-wrapper">
    <section class="section awards" id="awards">
        <div id="awards-text">
            <div class="section-heading">Awards and honors</div>
		<ul class="paragraph-text justify-text">
                 	<li><strong>ASA Best Student Paper Award (2022)</strong> - American Statistical Association.</li>
			<li><strong>University Graduate Fellow (2019)</strong> - Penn State University (declined).</li>
			<li><strong>VEF 2.0 Highly Recommended Candidate (2019)</strong> - Vietnam Education Foundation.</li>
			<li><strong>Clarendon Scholarship (2016)</strong> - University of Oxford (declined).</li>
			<li><strong>IMA Prize (2015)</strong> - Institute of Mathematics and its Applications.</li>
			<li><strong>Dean's List (2013, 2014, 2015)</strong>: Top 10 students in the Department of Mathematics at Imperial College London.</li>
			<li><strong>CIFE Award (2013)</strong>: Top-performing A-level students in the UK.</li>
			<li><strong>Netcraft Prize (2012)</strong>: Top 50 A-level Computer Science students in the UK.</li>
			<li><strong>Royal Society of Chemistry Award (2011)</strong>: Top 17 A-level Chemistry students in the UK.</li>
			<li><strong>Gold Certificate, Senior Maths Challenge (2010, 2011)</strong> - United Kingdom Mathematics Trust</li>
		</ul>
        </div>
    </section>
</div>
