<div class="section-wrapper">
    <section class="section pubs" id="pubs">
        <div id="pubs-text">
            <div class="section-heading">Publications</div>
		<ul class="paragraph-text justify-text">
			<li><strong>Nam H Nguyen</strong>, Seung J Shin, Elissa B Dodd-Eaton, J Ning, W Wang (in preparation). 
"Bayesian Estimation of a Joint Semiparametric Recurrent Event Model of Multiple Cancer Types for Personalized Cancer Risk Prediction".</li>
			<li><strong>Nam H Nguyen</strong>, Elissa B Dodd-Eaton, W Wang (in preparation). 
"Validation of Age-at-onset Penetrance Estimates on Clinically Ascertained Families with Li-Fraumeni Syndrome".</li>
			<li><strong>Nam H Nguyen</strong>, M Kimmel. 
"Stochastic Models of Stem Cells and Their Descendants under Different Criticality Assumptions". 
Under revision at <em>Stochastic Models</em>.</li>
                 	<li>P Bui Quang, T Klein, <strong>Nam H Nguyen</strong>, T Walther (2018). 
"Value-at-Risk for South-East Asian Stock Markets: Stochastic Volatility vs. GARCH". 
<em>Journal of Risk and Financial Management</em>.</li>
		</ul>
        </div>
    </section>
</div>
