<div class="section-wrapper">
    <section class="section pubs" id="pubs">
        <div id="pubs-text">
            <div class="section-heading">Publications</div>
		<ul class="paragraph-text justify-text">
			<li><strong>Son Dang Nguyen</strong>,
<a href="https://www.sciencedirect.com/science/article/abs/pii/S0021869322004045">"A proof of Lee-Lee's conjecture about geometry of rigid modules"</a>.</li>
			<li><strong>Son Dang Nguyen</strong>, Ervin, Tucker J.; Jackson, Blake; Lane, Jay; Lee, Kyungyong; O'Donohue, Jack; Vaughan, Michael. 
<a href="https://www.mat.univie.ac.at/~slc/wpapers/s86jackson.pdf">"Permutations whose reverse shares the same recording tableau in the RS correspondence"</a>.</li>
			<li><strong>Son Dang Nguyen</strong>, 
<a href="https://arxiv.org/pdf/1806.04296.pdf">"Constrained Fermat-Torricelli-Weber Problem in real Hilbert Spaces"</a>.</li>	
		</ul>
        </div>
    </section>
</div>
