<div class="section-wrapper">
    <section class="section about" id="trivia">
        <div id="trivia-text">
            <div class="section-heading">Trivia</div>
            <p class="paragraph-text justify-text">
                Favorite mathematicians: I particularly admire Sir. Isaac Newton for setting up the foundation of Mathematics (i.e. calculus), and his contributions to science in general (e.g. the three laws of motion). 
Leonhard Euler is also a hero of mine, mainly for his prolific scientific contributions and his will to overcome physical handicaps. 
Likewise, Stephen Hawking is an inspiration to me in modern days. 
While I am at this, I highly recommend the following books:
<ul class="paragraph-text justify-text">
	<li><strong>Fermat's Last Theorem</strong> by Simon Singh, which describes the contributions of mathematicians to solve the most difficult math problem over the course of over 300 years.</li>	
	<li><strong>The Man Who Loved Only Numbers</strong> by Paul Hoffman, a biography of Paul Erdos, who is one of the most prolific mathematicians of all time.</li>
	<li><strong>The Man Who Knew Too Much</strong> by David Leavitt, which follows the life of Alan Turing, who is most famous for cracking the Enigma machine during World War II.</li>		
</ul>
For movie lovers, I recommend The Man Who Knew Infinity (Srinivasa Ramanujan), The Imitation Game (Alan Turing), and A Beautiful Mind (John Nash).
            </p>
	    <p class="paragraph-text justify-text">
                When I am not occupied by research, I enjoy watching movies. Some of my favorites are The Shawshank Redemption, Memoirs of a Geisha, and the Dark Knight trilogy.
            </p>
            <p class="paragraph-text justify-text">
	        I like traveling, with Japan and Korea being at the top of my list for their special cultures, cuisines and scenary. 
I want to add a few destinations in Europe, especially Rome and Santorini, to the list when I have time. 
            </p>
	    <p class="paragraph-text justify-text">
	        Favorite dishes: I am open to different cuisines. Most Vietnamese dishes are good to me, but Bun Oc (escargot vermicelli soup) takes my top spot. 
Being a Hanoian, Pho and Bun Cha (rice noodles with barbecue pork) are of course appealing to me. 
Outside Vietnamese cuisine, I enjoy Sushi, especially Unagi Sushi, and Korean BBQ. 
When I was in England, I very much liked lamb kebab served with salad. I have yet to find any good kebab restaurants in the States, mostly because the kebabs are made very differently here. 
            </p>
	    <p class="paragraph-text justify-text">
                I am a member of MENSA, an international non-profit high-IQ society.
            </p>	
        </div>
    </section>
</div>
